.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin: 0;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0px;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  max-width: 360px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  border: 2px;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn_active {
  background-image: url(../images/liked.svg);
  opacity: 1;
}

.card__like-btn:hover {
  opacity: 100%;
  transition: opacity 0.3s ease;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__del-btn {
  background-image: url(../images/delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px 0 0 371px;
  width: 32px;
  height: 32px;
  position: absolute;
  border: none;
  border-radius: 16px;
}

.card__del-btn:hover {
  background-image: url(../images/delete-hover.svg);
}

@media screen and (max-width: 628px) {
  .card__image {
    height: 288px;
  }
}
