.modal {
  visibility: hidden;
  opacity: 0;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  transition:
    opacity 0.5s ease,
    visibility 0s linear 0.5s;
}

.modal_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.5s ease,
    visibility 0s;
}

.modal__close-btn {
  position: absolute;
  background: url(../images/close-icon.svg);
  border: none;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.modal__close-btn_preview {
  background-image: url(../images/close-icon-preview.svg);
  width: 40px;
  height: 40px;
  opacity: 1;
  top: 0px;
  right: -45px;
  position: absolute;
}

.modal__close-btn_preview:hover {
  background-image: url(../images/close-icon-preview-hover.svg);
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__row {
  display: flex;
  justify-content: space-between;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  font-weight: 500;
  color: #212121b2;
}

.modal__input {
  margin: 8px 0 0;
  display: block;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #21212166;
  padding: 16px 0 16px 12px;
}

.modal__input::placeholder {
  color: #2121214d;
  font-size: 20px;
  font-weight: 500;
  line-height: 100;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  background-color: #000000;
  color: #fcf5e5;
}

.modal__container_preview {
  position: relative;
  background: none;
  width: fit-content;
  padding: 0px;
}

.modal__image-preview {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  width: 100%;
  object-fit: contain;
  display: block;
}

.modal__caption {
  background-color: #212121;
  color: white;
  display: inline-block;
  text-align: left;
  border-radius: 8px;
  margin-top: 8px;
  padding: 4px 8px;
}

@media screen and (max-width: 628px) {
  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }

  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }
}

@media screen and (max-width: 628px) {
  .modal__close-btn_preview {
    top: -48px;
    right: 0;
  }

  .modal__image-preview {
    max-width: 288px;
  }
}
