.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  line-height: 1;
}

.profile__name {
  max-width: 420px;
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  max-width: 420px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  margin: 0;
  color: #212121;
  opacity: 70%;
}

.profile__edit-btn {
  margin-top: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #212121;
  opacity: 70%;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile__edit-btn:hover {
  opacity: 100%;
  transition: opacity 0.3s ease;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: 138px;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  color: #fcf5e5;
  width: 149px;
  height: 52px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.profile__add-btn:hover {
  opacity: 80%;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 628px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    margin: 0 0 32px;
    font-size: 16px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }

  .profile__edit-btn {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
